a.navigationelement__link-active {
	text-decoration-skip-ink: auto;
	text-decoration:none;
	color: #F2F2F3;
}

a.navigationelement__link {
	text-decoration-skip-ink: auto;
	text-decoration:none;
	color: #8585AD
}




.navigationelement {
	/*border-style: solid;*/
	border-radius: 40px;
	display: inline-flex;
	align-items: center;
}



.navigation-element__icon {

}


