.navigationelement__link-active {
	text-decoration-skip-ink: auto;
	text-decoration:none;
	color: #F2F2F3;
}

.navigationelement__link {
	text-decoration-skip-ink: auto;
	text-decoration:none;
	color: #8585AD
}

.navElement{
	text-decoration-skip-ink: auto;
	text-decoration:none;
	color: #8585AD
}

.navElementActive{
	text-decoration-skip-ink: auto;
	text-decoration:none;
	color: #ffffff
}


.navigationelement {
	border-radius: 40px;
	display: inline-flex;
	align-items: center;
}




