.logInContainer{
	width: 480px;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.anchor{
	color:#4C4CFF;
}

