.App {
  background-color: #131316;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: #2F2F37; /* or add it to the track */
}

  /* Add a thumb */
::-webkit-scrollbar-thumb {
	background: #8585AD;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 1240px; 
  width: 80%; 
  margin: 0 auto; 
  background-color: #131316;
  display: flex;
}

.content-left {
  flex-basis:50%;
  background-color: #131316;
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.content-right {
  flex-basis:50%;
  height: 80vh;
  background-color: #131316;
  display: flex;
  flex-direction: column;
}

