.beans-container {
	overflow-y: auto;
	max-height: 912px;
	overflow-x:hidden;
}

.ingredient-conteiner-content {
	border-style: solid;
	display: flex;
	justify-content:flex-start;
	flex-wrap:wrap;
	margin: 0 -5px 8px -5px;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: #2F2F37; /* or add it to the track */
}

  /* Add a thumb */
::-webkit-scrollbar-thumb {
	background: #8585AD;
}