.tab {
	display: flex;
}

.ingredients {
	flex-grow: 1;
	overflow-y: auto;
	min-height: 0;
	overflow-x:hidden;
	scroll-behavior: smooth;
}

.ingredientconteinercontent {
	display: flex;
	justify-content:flex-start;
	flex-wrap:wrap;
	gap: 24px;
}




.linkinactive {
	color: #8585AD;
}

.linkactive {
	color: #ffffff;
}
