
a {
	text-decoration-skip-ink: auto;
	text-decoration:none;
	color: white;
}

header {
	background-color: #6f6f74;

	


}



body {
	background-color: #1C1C21;
	min-width: 700px;
}


.header__container {
	min-width: 1280px;
	max-width: 1280px;
	margin: 0 auto;
	padding: 5px -20px;

	display: flex;
	align-items: center;
	justify-content: center;

}






.header__left-links {
	list-style: none;
	flex: 0 1 50%;
	display: flex;

}

.header__right-links{
	flex: 0 1 50%;
	display: flex;
	justify-content: end;
}

.menu__item {
	display:flex;
	align-items: center;
	
}



.menu__list-right {
	list-style: none;
	padding:0;
	text-align:end;

}